body {
  background: #111118;
  color: #091309;
  margin: 0;
}
.container {
  position: absolute;
  height: 100%;
  width: 100%;  
}
.his-house-logo {
	fill:    #091309;
	stroke:  #091309;
}
.headline:hover * {
  color:  #809e8c;  
	fill: 	#809e8c;
	stroke: #809e8c;
}