body {
  background: #111118;
  color: #091309;
  margin: 0;
}
.container {
  position: absolute;
  height: 100%;
  width: 100%;  
}
.his-house-logo {
	fill:    #091309;
	stroke:  #F5F5DC;
}
.headline .eye {
  color:  #F5F5DC;
  stroke: #F5F5DC;
}
.headline:hover .eye {
  color:  #D2B48C;  
  stroke: #D2B48C;
}
.flickr {
  textShadow: -1px -1px 0 #F5F5DC, 1px -1px 0 #F5F5DC, -1px 1px 0 #F5F5DC, 1px 1px 0 #F5F5DC;
}