@font-face {
  font-family: 'Reenie Beanie';
  font-style: normal;
  font-weight: 400;
  src: url(reeniebeanie.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body { 
	margin:0; 
	padding:0; 
	font-family: 'Reenie Beanie', cursive;
	line-height: 0.9em;
	height: 100%;
}
a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
li {
    list-style-image: url(../img/bloc-notes-bullet.png);
    margin-left: -40px;
    line-height: 1rem;
    padding-bottom: 0.33rem;
}
h2 {
    font-size: 25px;
    font-weight: bold;
    line-height: 17px;
    margin-top: 30px;
    text-align: center;
    color: #A92128;
    width: 335px;
    height: 35px;
}
h2 a {
    text-decoration: none;
    color: #A92128;
}
@keyframes bounce {
  0%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                     transform: translate3d(0,0,0);
               transform-style: preserve-3d;
                    text-shadow: 0 0 0 rgba(0,0,0,.9);
  }

  70% {
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
                     transform: translate3d(0, -2px, 0);
               transform-style: preserve-3d;
                    text-shadow: 0 15px 15px rgba(0,0,0,.5);
  }
}
#map { 
	position:absolute; 
	top:0; 
	bottom:0; 
	width:100%; 
}
.leaflet-container { 
	background-image: url(../img/map-bg-64.png); 
	background-size: 64px 64px;
}

div.icon-wrapper, svg > path {
	-webkit-transition: all 0.25s ease-out;
	-moz-transition: all 0.25s ease-out;
	-ms-transition: all 0.25s ease-out;
	-o-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
}



@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3/2),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5) {
	.leaflet-container {background-image:url(../img/map-bg-128.png);}
}
.invisible {
	visibility:hidden;
	opacity: 0;
}
.visible {
	visibility:initial
}
#block_legend_credits {
	position:absolute;
	width:358px;
	height:550px;
	z-index:15;
	top:87%;
	left:60%;
	cursor:move;
	transform:rotate(5deg);
	-moz-transform:rotate(5deg);
	-webkit-transform:rotate(5deg);
	-o-transform:rotate(5deg);
	-ms-transform:rotate(5deg);
	}

	#blc_top {
		width:100%;
		height:72px;
		padding-top:1px;
		background:url(../img/bloc-notes-top.png) no-repeat;
	}
	#blc_content {
		width:299px;
		height:477px;
		float:left;
		background:url(../img/bloc-notes-content.png) no-repeat;
		position:relative;
	}
	#blc_tabs_legend {
		width:59px;
		height:477px;
		float:right;
		background:url(../img/bloc-notes-tab-legend.png) no-repeat;
		position:relative;
	}
	#blc_tabs_credits {
		width:59px;
		height:477px;
		float:right;
		background:url(../img/bloc-notes-tab-credits.png) no-repeat;
		position:relative;
		display:none;
	}
	.blc_tabs {
		font-size:22px;
		font-weight:bold;
		position:absolute;
		transform:rotate(90deg);
		-moz-transform:rotate(90deg);
		-webkit-transform:rotate(90deg);
		-o-transform:rotate(90deg);
		-ms-transform:rotate(90deg);
	}
	#link_legend {
		right: -4px;
		top: 135px;
	}
	#link_credits {
		right: -3px;
		top: 290px;
	}
	#blc_content section {
		padding-top: 0.3em;
	}
	#content_legend, #content_credits {
		position:absolute;
		left:10px;
		top:-5px;
	    width: 252px;
	    padding-top: 12px;
	    padding-left: 42px;
		font-size:20px;
		display:block;
	}
	#content_credits {
		display:none;
		z-index:15;
	}

.lgd-checked {
	position: absolute;
	left: 5px;
	width: 30px;
	transform:rotate(2deg);
	-moz-transform:rotate(2deg);
	-webkit-transform:rotate(2deg);
	-o-transform:rotate(2deg);
	-ms-transform:rotate(2deg);
}
.lgd-checked:not(.invisible){
	opacity: 1;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-duration: 1.5s;
	-moz-transition-duration: 1.5s;
	-o-transition-duration: 1.5s;
	transition-duration: 1.5s;
}
#lgd-recently img {
	transform:rotate(-17deg);
	-moz-transform:rotate(-17deg);
	-webkit-transform:rotate(-17deg);
	-o-transform:rotate(-17deg);
	-ms-transform:rotate(-17deg);
	width: 27px;
}
#lgd-adulthood img {
	transform:rotate(10deg);
	-moz-transform:rotate(10deg);
	-webkit-transform:rotate(10deg);
	-o-transform:rotate(10deg);
	-ms-transform:rotate(10deg);
	width: 27px;
}
#lgd-independence img {
	transform:rotate(-12deg);
	-moz-transform:rotate(-12deg);
	-webkit-transform:rotate(-12deg);
	-o-transform:rotate(-12deg);
	-ms-transform:rotate(-12deg);
	width: 34px;
}

.loc-description{
	font-weight: bold; 
	padding-left: 0.1em;
}
.loc-description:not(.invisible){
	opacity: 1;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-duration: 2s;
	-moz-transition-duration: 2s;
	-o-transition-duration: 2s;
	transition-duration: 2s;
	animation-name: bounce;
	animation-duration: 0.4s;
	animation-delay: 1s;
	transform-origin: center bottom;	
}
.lgd-offset-text {
	margin-left: -30px;
}
#content_credits a {
	color:#b32121;
}

